body {
    background-color: #577399;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'ZCOOL XiaoWei', serif;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    background-color: #031926;
    color: white; 
  }
  
  .content-headers {
    width: 90vw;
    height: auto;
    border-bottom: 2px #77aca2 solid;
    padding-left: 15px;
    margin-bottom: 50px;
  }
  
  
  .content-headers .gallery-header {
    color: white;
    transition: .5s;
  }
  
  .content-headers .gallery-header:hover {
    letter-spacing: 3px;
    cursor: pointer;
  }
  
  .gallery-content{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin-bottom: 100px;
  }
  
  .gallery-content .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90vw;
    height: auto;
  }
  
  .gallery-wrapper .gallery {
    margin: 15px;
    border: 1px solid #ccc;
    width: 600px;
    height: auto;
  }
  
  .gallery-content .character {
    background-color: #031926;
  }
  
  .gallery-wrapper .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery-wrapper .gallery .desc {
    padding: 15px;
    text-align: center;
    background-color: #bdd5ea; 
  }
  
  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    background-color: #031926;
    color: white;
  }